.container {
  display: flex;
  align-items: center;
  padding: 15px;
  justify-content: space-between;
}

.logo {
  height: 40px;
  filter: contrast(15%);
}

@media only screen and (min-width: 1000px) {
  .container {
    justify-content: center;
  }
  .logo {
    margin-right: 30px;
  }
}
