.container {
  padding: 100px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.blueLine {
  width: 54px;
  height: 3px;
  background-color: var(--second-color);
}

.title {
  font-size: 30px;
  line-height: 40px;
  width: 360px;
  margin-top: 20px;
}

.progressBoxContainer {
  width: 225px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.progressBox {
  border-radius: 100%;
  border: 10px solid var(--second-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 165px;
  height: 165px;
  margin-bottom: 30px;
}

.progressBoxTitle {
  font-size: 22px;
  color: #0e0e0e;
  margin-bottom: 14px;
}

.progressBoxDesc {
  font-size: 16px;
  color: #595959;
  line-height: 30px;
}

.icon {
  color: var(--third-color);
  width: 50px;
  height: 50px;
}

@media only screen and (min-width: 1000px) {
  .container {
    padding: 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .progressContainer {
    display: flex !important;
    width: 100%;
    justify-content: space-around;
  }
  
  .blueLine {
    margin: 0px auto;
  }
}
