.servicesSection,
.aboutSection {
  padding: 85px 15px;
}

.blueLine {
  width: 54px;
  height: 3px;
  background-color: var(--second-color);
}
.serviceHeader > .title,
.infoHeader > .title {
  font-size: 30px;
  line-height: 40px;
  padding-top: 15px;
  font-family: "Poppins", sans-serif;
}

.serviceHeader .description,
.infoHeader > .description {
  padding-top: 30px;
  padding-bottom: 58px;
  font-size: 18px;
  line-height: 30px;
  color: #383838;
}

.logoContainer {
  background-color: var(--third-color);
  border-radius: 100%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  color: white;
  width: 40px;
  height: 40px;
}

.moneyLogo {
  color: var(--third-color);
  width: 50px;
  height: 50px;
}

.whyUs {
  display: flex;
}

.logoSide {
  margin-right: 20px;
}

.infoSide .title {
  font-size: 22px;
  font-weight: 700;
  padding-top: 15px;
}

.infoSide .description {
  font-size: 16px;
}

.sectionImg {
  width: 100%;
  margin-bottom: 30px;
}

@media only screen and (min-width: 1000px) {

  .servicesSection,
  .aboutSection {
    padding: 85px 45px;
  }
  .aboutSection {
    display: flex;
  }

  .serviceHeader{
    display: flex;
  }

  .serviceContainer{
    display: flex;
    justify-content: space-between;
  }


}
