.container {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
}
.logoContainer {
}
.hamburgerMenu {
  height: 40px;
  width: 30px;
}

.logo {
  height: 45px;
}

.linkContainer {
  display: none;
}

@media only screen and (min-width: 1000px) {
  .linkContainer {
    display: flex;
    width: 50%;
    justify-content: space-around;
  }
  .link {
    padding: 10px;
    border: 1px solid var(--third-color);
    border-radius: 15px;
    font-weight: 600;
    font-size: 14px;
  }
  .link:hover {
    background-color: var(--second-color);
    cursor: pointer;
    scale: 1.1;
    color: white;
    border-color: white;
  }
  .hamburgerMenu {
    display: none;
  }

  .selected {
    padding: 10px;
    border: 1px solid white;
    border-radius: 15px;
    font-weight: 600;
    font-size: 14px;
    background-color: #232323;
    color: white;
    opacity: 0.7;
  }
}
